{% extends "base.html" %}
{% block title %}Financial Freedom Calculator{% endblock %}
{% block content %}
    <br>
    <h1 style="text-align: center">Financial Freedom (TODO)</h1>
    <form method="POST">
        <input type="number" step="0.01" min="0" name="deposit" id="deposit" class="form-control"
               placeholder="Enter initial deposit">
        <br>
        <input type="number" step="0.01" max="100" name="return" id="return" class="form-control" placeholder="Enter estimated return %">
        <br>
        <input type="number" step="0.01" min="0" name="monthly" id="monthly" class="form-control"
               placeholder="Enter monthly (for now) contribution">
        <br>
        <input type="number" step="1" min="0" name="investment_time" id="investment_time" class="form-control"
               placeholder="Enter investment time in years">
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Compound frequency
            </button>
            <ul class="dropdown-menu">
                <li><button class="dropdown-item" type="button" >Annually</button></li>
                <li><button class="dropdown-item" type="button">Quarterly</button>></li>
                <li><button class="dropdown-item" type="button">Monthly</button>></li>
            </ul>
        </div>
    </form>


{% endblock %}